﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bootstrap")
    @Scripts.Render("~/jquery")
    @Scripts.Render("~/ajax")
    @Scripts.Render("~/angular")
</head>
<body ng-app="ProdApp">
    <div>
        @RenderBody()
    </div>
</body>
@RenderSection("Scripts", false)
</html>
