﻿@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="padding-top: 30px">
    <div ng-view></div>
</div>
@*<div>
    <a id="mod_show" href="#">Show modal</a>
</div>
<div id="modal">
    <span id="modal_close">X</span>
    <div class="container">
        This is modal window
    </div>
</div>
<div id="overlay"></div>*@
@section Scripts
{
    @Scripts.Render("~/prodapp")
}

