﻿<div ng-controller="NewProductController" class="col-lg-offset-2 col-lg-8">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="name" class="col-lg-4 control-label">Name:</label>
            <div class="col-lg-4">
                <input type="text" placeholder="Enter product name" id="name" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-lg-4 control-label">Description:</label>
            <div class="col-lg-4">
                <input type="text" placeholder="Enter product description" id="description" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="price" class="col-lg-4 control-label">Price:</label>
            <div class="col-lg-4">
                <input type="number" placeholder="Enter product price" id="price" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="count" class="col-lg-4 control-label">Count:</label>
            <div class="col-lg-4">
                <input type="number" placeholder="Enter product count" id="count" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-4 col-lg-4">
                <a ng-click="addProduct()" class="btn btn-success">Save</a>
                <a ng-click="cancel()" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </form>
</div>