﻿<div ng-controller="ProdController">
    <div class="col-lg-offset-1 col-lg-10">
        <div style="margin: 10px 10px 10px 0">
            <a href="/products/new" class="btn btn-primary">Add product</a>
        </div>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in products">
                    <td>{{item.Name}}</td>
                    <td>{{item.Description}}</td>
                    <td>{{item.Price}}</td>
                    <td>{{item.Count}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
